
​h1 { 
color:black;
  background-color:LightGray;
text-align: center;
} 
p{
font-size: 35px;
color:lightcoral; 
text-align: center;
font-family: Georgia, serif;
}
body{

color:Blush;
background-color:LightBlue;


  
}


