h1{
color:red;
  background-color:blue;
}
 <body style = "color:violet;background-color:LightGray;font-family:New Times Roman;">
 <body style = "color:LightSteelBlue;background-color:LavenderBlush;font-family:New Times Roman;">

  <h1>frozen frogs are cool</h1>


