
​h1 { 
color:LightGray;
  background-color:Blush;
text-align: center;
} 
p{
font-size: 35px;
color:DarkOliveGreen; 
text-align: center;
font-family: Georgia, serif;
}
body{

color:Lightblue;
background-color:Blush;


  
}


